html,
body,
#map {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #000000;
}
body {
    overflow: hidden;
	font-family: open sans, sans-serif, Arial;
}

text {
    fill: white;
    font: sans-serif;
}
/*---------------ROUTES SVG STYLES------------------*/
.routes > path {
  stroke: none;
  stroke-linecap: round;
  stroke-width: 4px;
}


/*-----------------SVG ANNIMATION-------------------*/
.cities > path{
    stroke:#D45D04;
    stroke-width: 20;
    stroke-opacity: 0.99;
    stroke-linecap: round;
    stroke-linejoin: round;
}
.routes > path {
    display: block;

    stroke-dasharray: 100;
    animation: dash 9s linear;
    -webkit-animation-iteration-count: infinite;
    /* Chrome, Safari, Opera */
    
    animation-iteration-count: infinite;
    -webkit-animation-direction: reverse;
    /* Chrome, Safari, Opera */
    marker-start: url(#arrow);
    
    animation-direction: reverse;
}
body.end svg path {
    display: block;
    stroke: 1px #000000;
}
/*
@keyframes dash {
    to {
        stroke-dashoffset: 800;
    }
}
*/
/*
.arrow {
    offset-path: path("M 1384 338 125 208");
    transform-origin: 1% 2%;
    -webkit-animation-iteration-count: infinite;
    fill: orange;
}
*/


/*
#arrow0 {
    animation: move0 20s forwards linear infinite; 
}

#arrow1 {
    animation: move1 20s forwards linear infinite;
}

#arrow2 {
    animation: move2 20s forwards linear infinite;
}


#arrow3 {
    animation: move3 20s forwards linear infinite;
}

#arrow4 {
    animation: move4 20s forwards linear infinite;
}

#arrow5 {
    animation: move5 20s forwards linear infinite; 
}

#arrow6 {
    animation: move6 20s forwards linear infinite;
}

#arrow7 {
    animation: move7 20s forwards linear infinite;
}


#arrow8 {
    animation: move8 20s forwards linear infinite;
}

#arrow9 {
    animation: move9 20s forwards linear infinite;
}
*/

/*
@keyframes move0 {
    0% {
      offset-distance: 0%;
    }
   
     95% {
      opacity:1;
      
    }
     100% {
      offset-distance: 100%;
      opacity:0;
    }
   }

@keyframes move1 {
    0% {
      offset-distance: 10%;
    }
    85% {
      opacity:1;
    }
    90% {
      offset-distance: 100%;
      opacity:0;
    }
    91% {
      offset-distance: 0%;
      opacity:0;
    }
    95% {
        opacity: 1;
    }
    100% {
      offset-distance: 10%;
    }
   }
@keyframes move2 {
    0% {
        offset-distance: 20%;
    }
    75% {
        opacity:1;
    }
    80% {
        offset-distance: 100%;
        opacity:0;
    }
    81% {
        offset-distance: 0%;
        opacity:0;
    }
    85% {
        opacity: 1;
    }
    100% {
        offset-distance: 20%;
    }
}

@keyframes move3 {
    0% {
        offset-distance: 30%;
    }
    65% {
        opacity:1;
    }
    70% {
        offset-distance: 100%;
        opacity:0;
    }
    71% {
        offset-distance: 0%;
        opacity:0;  
    }
    75% {
        opacity: 1;
    }
    100% {
        offset-distance: 30%;
    }
 }

 @keyframes move4 {
    0% {
        offset-distance: 40%;
    }
    55% {
        opacity:1;
    }
    60% {
        offset-distance: 100%;
        opacity:0;
    }
    61% {
        offset-distance: 0%;
        opacity:0; 
    }
    65% {
        opacity:1;
    }
    100% {
        offset-distance: 40%;
    }
 }


 @keyframes move5 {
    0% {
        offset-distance: 50%;
    }
    45% {
        opacity:1;
    }
    50% {
        offset-distance: 100%;
        opacity:0;
    }
    51% {
        offset-distance: 0%;
        opacity:0;
    }
    55% {
        opacity: 1;
    }
    100% {
        offset-distance: 50%;
    }
 }

 @keyframes move6 {
    0% {
        offset-distance: 60%;
    }
    35% {
        opacity:1;
    }
    40% {
        offset-distance: 100%;
        opacity:0;
    }
    41% {
        offset-distance: 0%;
        opacity:0;
    }
    45% {
        opacity:1;
    }
    100% {
        offset-distance: 60%;
    }
 }

 @keyframes move7 {
    0% {
        offset-distance: 70%;
    }
    25% {
        opacity:1;
    }
    30% {
        offset-distance: 100%;
        opacity:0;
    }
    31% {
        offset-distance: 0%;
        opacity:0;
    }
    35% {
        opacity:1;
    }
    100% {
        offset-distance: 70%;
    }
 }

 @keyframes move8 {
    0% {
        offset-distance: 80%;
    }
    15% {
        opacity:1;
    }
    20% {
        offset-distance: 100%;
        opacity:0;
    }
    21% {
        offset-distance: 0%;
        opacity:0; 
    }
    25% {
        opacity:1;
    }
    100% {
        offset-distance: 80%;
    }
 }


 @keyframes move9 {
    0% {
        offset-distance: 90%;
    }
    5% {
        opacity:1;
    }
    10% {
        offset-distance: 100%;
        opacity:0;
    }
    11% {
        offset-distance: 0%;
        opacity:0;   
    }
    15% {
        opacity:1;
    }
    100% {
        offset-distance: 90%;
    }
 }
 */
       
       
   







/*-----------------RETURN INFO/DOCKED POP-UP-------------------*/

.card {
	padding-top: 1px;
	padding-bottom: 1px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	overflow: visible;
	margin: 20px 10px;
	border-radius: 2px;
	background-color: #fff;
}

#return {
	display: none;
	bottom: 0;
	left: 0;
	margin: 20px;
	padding: 20px;
	width: 390px;
	font-weight: 400;
	color: #fff;
	font-size: 15px;
	position: absolute;
	background: rgb(0, 177, 137);
}

.distance {
	padding-bottom: 30px;
	overflow: hidden;
	text-align: center;
	position: relative;
}
.distance:before,
.distance:after {
	background-color: #fff;
	content: "";
	display: inline-block;
	height: 2px;
	position: relative;
	vertical-align: middle;
	width: 50%;
}
.distance:before {
	right: 0.5em;
	margin-left: -50%;
}
.distance:after {
	left: 0.5em;
	margin-right: -50%;
}

#distance > em {
	font-style: normal;
	margin-right: 4px;
}

.point {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	display: inline-block;
	border: 2px solid #fff;
	background: rgb(0, 177, 137);
	position: absolute;
	top: 4px;
	z-index: 10;
}

.point.start {
	left: 0px;
}

.point  {
	right: 0px;
}

.location {
	display: block;
	position: absolute;
	bottom: 0;
	z-index: 10;
	font-size: 17px;
}

.location.start {
	left: 0;
}

.location.end {
	right: 0;
}
/*-----------------RESPONSIVE-------------------*/


@media only screen and (min-width: 1026px) and (min-height: 601px) {
    #panelMobile {
        display: none;
    }
}
@media only screen and (max-width: 1025px) {
    #panel {
        display: none;
    }
    #panel-toggle {
        display: none!important;
    }
    #map_zoom_slider {
        margin-top: 50px;
    }
    #HomeButton {
        top: 146px;
    }
}
@media only screen and (max-height: 600px) {
    #panel {
        display: none;
    }
    #panel-toggle {
        display: none!important;
    }
    #map_zoom_slider {
        margin-top: 50px;
    }
    #HomeButton {
        top: 146px;
    }
	
}
@media only screen and (max-width: 650px) {
    #return {
        margin: 0px;
        padding: 10px;
        width: calc(100% - 20px);
		border-radius: 0;
    }
    body.infoshown .esriControlsBR {
        bottom: 77px;
    }
    #replay {
        display: none!important;
    }

	#grey-area,
	#splash {
		background: none;
		box-shadow: none;
	}

    #splash h1,
	#splash p{
        display: none;
    }
    #play {
		position: absolute;
		top: 165%;
		margin-top: 0;
		left: 50%;
		margin-left: -65px;
    }
    #loader {
        top: 185%;
    }
}
@media only screen and (max-height: 415px) {
   #replay {
        display: none!important;
    }
}